nav{
  background-color:rgba(0, 0, 0, .2) !important;
}

.navbar-brand{
  font-size: 2rem;
}

a{
  font-weight: bold;
  color:black;
}

.active-link {
  background-color: #ccc;
  border-radius: 48%;
}

.active-link a {
  color: green;
}

