<nav class="navbar fixed-top navbar-expand-xxl navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand"> All-for-foods</a>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-2 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active-link" class="nav-link"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/profile"
            routerLinkActive="active-link"
            class="nav-link"
            >Perfil</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active-link" class="nav-link"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/support" routerLinkActive="active-link" class="nav-link"
            >Soporte</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
