<div class="container-fluid container-img">
  <div class="row">
    <div class="img-wallpaper">
      <img
        src="https://www.exactchange.es/uploads/portadas_post/cual-es-comida-tipica-londres-mejores-platos-portada.png"
        alt=""
      />
    </div>
  </div>
  <div class="row row-sesion-ingredients">
    <div class="col-sm-6">
      <div class="sesion">
        <h2>¡Pongámonos a Cocinar!</h2>
        <h3>Consigue recetas sin preocuparte por los ingredientes faltantes</h3>
        <button type="button" class="btn btn-dark">
          Lista tus ingredientes
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="search-ingredients">
        <h2>¡Pongámonos a Cocinar!</h2>
        <h3>Consigue recetas sin preocuparte por los ingredientes faltantes</h3>
        <button type="button" class="btn btn-dark">
          Lista tus ingredientes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-random">
  <div class="row">
    <div class="col-6 text-right">
      ¿No sabes qué cocinar?
    </div>
    <div class="col-6">
      No te preocupes, dejanoslo a nosotros.
    </div>
  </div>
  <div class="row">
    <button> Muestrame una receta</button>
  </div>
</div>


<div class="container-fluid container-products">
  <div class="products-grid">
    <div *ngFor="let product of products">
      <div class="img-div">
        <img class="img-product" [src]="product.image" aimg-divlt="image" />
      </div>
      <h2>{{ product.name }}</h2>
    </div>
  </div>
</div>
