/* tamaños de letras */
$font-sm: 1.3rem;
$font-md: 2rem;
$font-lg: 3rem;
$font-xl: 4rem;

/* colores */
$orange-color: #EFD6A7;
$dark-orange-color: #9c7429;
$gray-color: #231c18;
$gray-low-color: #f1f1f1;
$black-color: #000000;
$white-color: white;

/* fonts */
$font-montserrat: "Montserrat", "sans-serif" ;
