/* tamaños de letras */
$font-smm: 0.8rem;
$font-sm: 1rem;
$font-md: 1.5rem;
$font-md-2: 2rem;
$font-lg: 2.5rem;
$font-xl: 3.5rem;

/* colores */
$orange-color: #EFD6A7;
$dark-orange-color: #9c7429;
$gray-color: #231c18;
$gray-low-color: #f1f1f1;
$black-color: #000000;
$white-color: white;

/* fonts */
$font-montserrat: "Montserrat", "sans-serif" ;
