<div class="container-fluid container-form">
    <app-searcher-recipe [pageSize]="pageSize"
                        [currentPage]="currentPage"
                        (outputTotalPages)="totalPages = $event"
                        (outputRecipes)="foods = $event">
    </app-searcher-recipe>
    <app-pagination-items [items]="foods" 
                        [pageSize]="pageSize" 
                        [totalPages]="totalPages"
                        (outputCurrentPage)="currentPage = $event">
    </app-pagination-items>
</div>