<div class="container-fluid container-img">
    <div class="container-fluid container-img">
        <div class="col-md-8 mx-auto row row-sesion-ingredients">
            <div class="col-6">
                <div class="sesion">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <p>
                            <label>Correo electrónico </label>
                            <br>
                            <input type="text" class="form-control" id="email" name="email" formControlName="email">
                        </p>
                        <p>
                            <label>Nombre de usuario </label>
                            <br>
                            <input type="text" class="form-control" id="username" name="username" formControlName="username">
                        </p>
                        <p>
                            <label>Contraseña </label>
                            <br>
                            <input type="password" class="form-control" id="password" name="password" formControlName="password">
                        </p>
                        <p>
                            <label>Confirmar contraseña </label>
                            <br>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
                        </p>
                        <div class="footer-center">
                            <p>
                                <button type="submit" class="btn btn-primary btn-block" [disabled]="registerForm.invalid">Crear cuenta All For Foods</button>
                            </p>
                            <p>
                                <a routerLink="/login" routerLinkActive="active-link" class="nav-link">
                                    Ya tengo una cuenta
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
