.row-sesion-ingredients {
    top: 0;
    left: 0;
    right: 0;
    margin: 15% auto;
    position: absolute;
    display: flex;
    text-align: left;
    border-radius: 4%;
    align-items: center;
    justify-content: center;

    .sesion,
    .search-ingredients {
        color: white;
        width: 100%;
        background-color: rgba(0, 0, 0, .4);
        padding: 2rem;
    }
}

.footer-center {
    text-align: center;
    align-items: center;
}