<div class="container-fluid container-profile" [formGroup]="profileForm">
  <form>
    <div class="row">
      <div class="col-12 container-title">Datos de perfil</div>
    </div>
    <div class="row">
      <div class="col-2 container-img">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
          alt=""
        />
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-12 container-textarea">
            <label for="exampleInputEmail1" class="form-label">Descripcion</label>
            <textarea
            class="form-control"
            rows="4"
            placeholder="Describe tu problema"
            formControlName="description"
            value="{{description}}"
          ></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-5 container-data">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                value="{{ email }}"
              />
            </div>
          </div>
          <div class="col-5 container-data">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre</label>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                value="{{ name }}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 container-data-bottom">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Edad</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
            id="exampleInputPassword1"
          />
        </div>
      </div>
    </div>
    <div class="container-button">

      <button type="submit" class="btn btn-md" (click)="onEdit()">
        Editar
      </button>
    </div>
  </form>
</div>
<app-fav-list [favorites]="user.favorites"></app-fav-list>