<div class="container-fluid container-list-fav">
  <h3>{{ sectionName }}</h3>
  <div class="container mt-4">
    <div class="row" *ngIf="items.length > 0">
      <app-list-products *ngIf="typeList == 'products'"  [products]="items" [isPanel]="isPanel"></app-list-products>
      <app-list-users *ngIf="typeList == 'users'"  [users]="items" [isPanel]="isPanel"></app-list-users>
      <div class="row gallery-bottom">
        <div class="col-sm-12 container-paginator">
          <ul class="pagination">
            <li
              class="page-item"
              [class.active]="currentPage === i"
              *ngFor="let i of totalPages"
            >
              <button (click)="changePage(i)" class="page-link">{{ i }}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="items.length == 0">
      <br />
      <div class="d-flex justify-content-center">Sin coincidencias</div>
    </div>
  </div>
</div>
