<div class="container-fluid container-list-products">
  <div class="row">
    <div
      class="col-xs-12 col-sm-6 col-md-3 col-12 container-card"
      *ngFor="let product of products"
    >
      <div class="card">
        <div class="card-header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-2">
                <img
                  [src]="product.image"
                  style="width: 120%"
                  class="rounded"
                  alt="..."
                />
              </div>
              <div class="col-10">
                <a [routerLink]="['/profile', product.userId]">
                  {{product.userId}}
                </a></div>
            </div>
          </div>
        </div>
        <!-- copiadera -->
        <a [routerLink]="['/recipes', product.id]" class="img-route"
          ><img class="img-product" [src]="product.image" aimg-divlt="image"
        /></a>
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-8">
                <h2>{{ product.title }}</h2>
              </div>
              <div *ngIf="token" class="col-4 container-icon-heart">
              <i class="fa fa-heart fa-2x" (click)="changeColor(product.id) "style="color:gray" id="{{product.id}}"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <small><b>creado: </b>{{ product.creationDate }} </small>
              </div>
              <div class="col-1" style="color:gold"  *ngFor="let star of [].constructor(product.rate); let i= index">
                <i class="fa fa-star" id="star-{{i}}-{{product.id}}"></i>
              </div>
              <div class="col-1" style="color:gray"  *ngFor="let star of [].constructor((5-product.rate)); let i= index">
                <i class="fa fa-star" id="star-{{i}}-{{product.id}}"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
