<div class="home-container">
    <div>
        <tag-input [(ngModel)]="itemsAsObjects"
                       [identifyBy]="'id'"
                       placeholder=""
                       [secondaryPlaceholder]="''"
                       [onlyFromAutocomplete]="true"
                       (onRemove)="onRemove($event)"
                       [displayBy]="'name'"
                       [onlyFromAutocomplete]="true">
        </tag-input>
        <div *ngIf="itemsAsObjects.length > 0" class="row-button">
            <button class="btn btn-primary" (click)="cleanTags()">Limpiar todo</button>
        </div>
    </div>
</div>