<div class="container" [formGroup]="recipeForm">
    <div class="row">
      <div class="col-md-6">
        <img src="{{imgURL}}" alt="{{title}}" class="img-fluid float-left">
      </div>
      <div class="col-md-6">
        <h2>{{title}}</h2>
        <p>Por el autor {{author}}</p>
        <hr>
        <h4>Ingredientes:</h4>
        <ul>
          <li *ngFor="let ingredient of ingredients">{{ingredient}}</li>
        </ul>
        <hr>
        <h4>Procedimiento:</h4>
        <ol>
          <li *ngFor="let step of process">{{step}}</li>
        </ol>
        <hr>
        <h4>Descripción:</h4>
        <p>{{description}}</p>
        <p>Calificación: {{rating}}</p>
        <p>Fecha de creación: {{date}}</p>
      </div>
    </div>