@import "../../../../../assets/scss/general.scss";

.container-form {
  margin-top: 2%;
  font-family: $font-montserrat;
  form {
    margin-left: 15%;
    width: 70%;
    input{
      font-size: $font-sm;
    }
    label {
      font-size: $font-sm;
      font-weight: bold;
    }
    small{
      font-size: $font-smm;
      font-weight: bold;
    }
  }

  .container-button-support {
    margin-top: 2%;
    text-align: center;

    button {
      background-color: $orange-color;
      color: $black-color;
      border-color: $orange-color;
    }
  }

  .container-img {
    text-align: center;

    #img-support {
      width: 28%;
      margin-right: 5%;
    }
  }
}
