<div class="container-fluid container-img">
    <div class="col-md-8 mx-auto row row-sesion-ingredients">
        <div class="col-6">
            <div class="sesion">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <p>
                        <label>Correo electrónico </label>
                        <br>
                        <input type="text" class="form-control" id="email" name="email" formControlName="email">
                    </p>
                    <p>
                        <label>Contraseña </label>
                        <br>
                        <input type="password" class="form-control" id="password" name="password" formControlName="password">
                    </p>
                    <div class="footer-center">
                        <p>
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Iniciar sesión</button>
                        </p>
                        <p>
                            <a routerLink="/register" routerLinkActive="active-link" class="nav-link">
                                ¿No tienes una cuenta? ¡Regístrate aquí!
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>