@import "../../../../assets/scss/general.scss";

.row-sesion-ingredients {
    font-family: $font-montserrat;
    font-family: $font-sm;
    margin: 5% auto;
    display: flex;
    border-radius: 4%;
    align-items: center;
    justify-content: center;

    label{
      font-weight: bold;
    }
    .sesion,
    .search-ingredients {
        color: black;
        width: 100%;
        padding: 2rem;
    }
    .container-img{
      text-align: center;
      #img-sesion{
        width: 40%;
        }
    }
}

.footer-center {
    text-align: center;
    align-items: center;

    .btn-block{
      background-color: $orange-color;
      color: $black-color;
      border-color: $orange-color;
    }
}
