<div class="container-fluid">
    <div class="col-md-8 row row-sesion-ingredients">
      <div class="col-3"></div>
        <div class="col-6">
            <div class="sesion">
              <div class="container-img">
                <img src="https://cdn-icons-png.flaticon.com/512/186/186313.png" id="img-sesion" alt="">
              </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <p>
                        <label>Correo electrónico </label>
                        <br>
                        <input type="text" class="form-control" id="email" name="email" formControlName="email">
                    </p>
                    <p>
                        <label>Contraseña </label>
                        <br>
                        <input type="password" class="form-control" id="password" name="password" formControlName="password">
                    </p>
                    <div class="footer-center">
                        <p>
                            <button type="submit" class="btn btn-block" [disabled]="loginForm.invalid">Iniciar sesión</button>
                        </p>
                        <p>
                            <a routerLink="/register" routerLinkActive="active-link" class="nav-link">
                                ¿No tienes una cuenta? ¡Regístrate aquí!
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
