<div class="container-fluid container-img">
  <div class="row">
    <div class="col-12">
      <div class="img-wallpaper">
        <img
          src="https://www.exactchange.es/uploads/portadas_post/cual-es-comida-tipica-londres-mejores-platos-portada.png"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row row-sesion-ingredients">
      <div class="col-sm-5 col-md-6">
        <div class="sesion">
          <h2>¡Pongámonos a Cocinar!</h2>
          <h3>
            Consigue recetas sin preocuparte por los ingredientes faltantes
          </h3>
          <button type="button" class="btn btn-front">
            Lista tus ingredientes
          </button>
        </div>
      </div>
      <div class="col-sm-5 col-md-6">
        <div class="search-ingredients">
          <h2>¡Comparte tus recetas!</h2>
          <h3>
            No pierdas la oportunidad e inicia sesión para compartir tu sazón con la comunidad
          </h3>
          <button type="button" class="btn btn-front">
            Inicia sesión
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid container-random">
    <div class="row">
      <div class="col-12 col-md-7 first-words">¿No sabes qué cocinar?</div>
      <div class="col-12 col-md-5 second-words">No te preocupes, <br> dejanoslo a nosotros.</div>
    </div>
    <div class="row row-button">
      <div class="col-12">
        <button class="btn btn-lg">Muéstrame una receta aleatoria</button>
      </div>
    </div>
  </div>
</div>
