@import "../../../../../assets/scss/general.scss";

.container-img {
  --bs-gutter-x: none !important;
  margin-bottom: 2rem;
  font-family: $font-montserrat;

  .row {
    --bs-gutter-x: none !important;
  }

  img {
    height: 35rem;
    width: 100%;
  }
}

.row-sesion-ingredients {
  text-align: center;
  top: 0;
  left: 10%;
  right: 0;
  margin: 10% auto;
  position: absolute;
  display: flex;
  text-align: center;
  border-radius: 4%;

  .sesion,
  .search-ingredients {
    color: $white-color;
    width: 70%;
    background-color: rgba(0, 0, 0, .4);
    padding: 2rem;
  }

  .btn-front {
    background-color: $gray-color;
    color: $white-color;
  }
}

h2 {
  font-size: $font-lg;
  font-weight: bold;
}

h3 {
  font: $font-sm;
}

.container-random {
  margin-bottom: 2rem;

  .first-words {
    text-align: right;
    font-size: $font-xl;
  }

  .second-words {
    align-items: center;
    display: flex;
    font-size: $font-md-2;
  }

  .row-button {
    margin-top: 1rem;
    text-align: center;

    button {
      background-color: $orange-color;
    }
  }
}

/* Dispositivo small - pequeño */
@media (min-width: 300px) and (max-width: 768px) {
  h2 {
    font-size: $font-sm;
  }

  h3 {
    font-size: $font-smm;
  }

  .row-sesion-ingredients {
    margin: 50% auto;
    left: 12%;

    .sesion,
    .search-ingredients {
      width: 100%;
    }
  }

  .container-random {
    .first-words {
      text-align: center;
    }

    .second-words {
      text-align: center;
      font-size: $font-md-2;
      display: block;
    }
  }

}

/* Dispositivo medium - mediano */
@media (min-width: 768px) and (max-width: 992px) {
  h2 {
    font-size: $font-md;
  }

  h3 {
    font-size: $font-sm;
  }

  .row-sesion-ingredients {
    margin: 30% auto;
    left: 12%;
  }
}

/* Dispositivo large - largo*/
@media (min-width: 992px) and (max-width: 1200px) {
  h2 {
    font-size: $font-md-2;
  }

  h3 {
    font-size: $font-md;
  }
}
