<div class="container-fluid container-recipeWriter" [formGroup]="recipeForm">
    <!-- header: recipe img, title & author-->
    <div class="row container-img">
        <img src="{{imgURL}}" class="recipe-img" alt="image" />
    </div>
    <div class="row container-header">
        <div class="row container-title">
            <textarea class="form-control header-item" rows="1" placeholder="Recipe front URL" formControlName="imgURL"></textarea>
        </div>
        <div class="row container-title">
            <textarea class="form-control header-item" rows="1" placeholder="Recipe Title" formControlName="title"
                value="{{title}}"></textarea>
        </div>
        <div class="row container-name">
            <textarea class="form-control header-item" rows="1" placeholder="Author" value="{{author}}"></textarea>
        </div>
    </div>
    <!-- Recipe info: ingredients & process 
            TODO: make each step & ingredient individual-->
    <div class="row container-info">
        <div class="col-4 mb-3">
            <div class="row">
                <label for="exampleRecipeWriter" class="form-label">Description</label>
                <textarea class="form-control ingredients-container" rows="2" placeholder="Add ingredients"
                    formControlName="description" value="{{description}}"></textarea>
            </div>
            <div class="row">
                <label for="exampleRecipeWriter" class="form-label">Ingredients</label>
                <textarea class="form-control ingredients-container" rows="4" placeholder="Add ingredients"
                    formControlName="ingredients" value="{{ingredients}}"></textarea>
            </div>

        </div>
        <div class="col-6 mb-3">
            <label for="exampleRecipeWriter" class="form-label">Process</label>
            <textarea class="form-control process-container" rows="9" placeholder="Add process' steps"
                formControlName="process" value="{{process}}"></textarea>
        </div>
    </div>
    <div class="container-button">
        <button type="submit" class="btn btn-md" (click)="onSave()">
            Save
        </button>
    </div>
</div>