<div class="container-fluid container-recipeWriter mt-3" [formGroup]="recipeForm">
  <!-- header: recipe img, title & author-->
  <div class="row container-img">
    <img src="{{ imgURL }}" class="recipe-img" alt="imagen" />
  </div>
  <div class="row container-header">
    <div class="row container-stars mt-3 mb-3">
      <div class="col-3"></div>
    </div>
    <div class="row container-url mb-3">
      <textarea
        class="form-control header-item"
        rows="1"
        placeholder="URL de la imagen de portada de la receta"
        formControlName="imgURL"
        value="{{imgURL}}"
      ></textarea>
    </div>
    <div class="row container-title mb-3">
      <textarea
        class="form-control header-item"
        rows="1"
        placeholder="Titulo de la receta"
        formControlName="title"
        value="{{ title }}"
      ></textarea>
    </div>
  </div>
  <!-- Recipe info: ingredients & process
            TODO: make each step & ingredient individual-->
  <div class="row container-info">
    <div class="col-4 mb-3">
      <div class="row mb-3">
        <label for="exampleRecipeWriter" class="form-label">Descripción</label>
        <textarea
          class="form-control ingredients-container"
          rows="2"
          placeholder="Agrega una descripción"
          formControlName="description"
          value="{{ description }}"
        ></textarea>
      </div>
      <div class="row">
        <label for="exampleRecipeWriter" class="form-label">Ingredientes</label>
        <select (change)="saveIngredient($event)" class="form-control">
          <option disabled value="null">Selecciona ingrediente</option>
          <option *ngFor="let ingredient of allingredients" [value]="ingredient.id">
            {{ingredient.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-6 mb-3">
      <label for="exampleRecipeWriter" class="form-label">Proceso</label>
      <textarea
        class="form-control process-container"
        rows="7"
        placeholder="Agrega los pasos de preparación"
        formControlName="process"
        value="{{ process }}"
      ></textarea>
    </div>
    <div class="row">
      <div class="col-1 m-1" *ngFor="let ingredient of ingredients">
         <button class="btn btn-danger" (click)="deleteIngredient(ingredient.id)"> {{ ingredient.name }}</button>
      </div>
    </div>
  </div>
  <div class="container-button">
    <button
      type="submit"
      [disabled]="recipeForm.invalid"
      class="btn btn-md"
      (click)="onSave()"
    >
      Guardar
    </button>
  </div>
</div>
