@import "../../../../../assets/scss/general.scss";

.container-recipeWriter{
  font-family: $font-montserrat;
}

.container-img{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    .recipe-img{
        width: 25%;
        border-radius: 0 0 15px 15px;
    }
}

.container-header{
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: $font-lg;
    .header-item{
        display: inline-flex;
    }
}

.container-name{
    width: fit-content;
    text-align: center;
    font-size: $font-lg;

}

.container-title{
    width: 50%;
    text-align: center;
    font-size: $font-lg;
}

.container-url{
    width: 72%;
    text-align: center;
    font-size: $font-lg;
}

.container-info{
    display: flex;
    width: 100%;
    text-align: center;
    font-size: $font-md;
    justify-content: center;
    margin: 0;
}

.container-button{
    text-align: center;
    margin-bottom: 1rem;

    button{
      background-color: $orange-color;
    }
  }
