
<div class="container-fluid">
  <div class="row">
    <div class="col-12 m-3">
        <app-table [foods]="recipesActivated" [currentPage]="currentPage" [totalPages]="totalPages" [pageSize]="pageSize" [typeSearch]="'delete'" [isPanel]="'btn-delete'" [sectionName]="'Recetas activadas'"></app-table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 m-3">
        <app-table [foods]="recipesDesactivated" [currentPage]="currentPage" [totalPages]="totalPages" [pageSize]="pageSize" [typeSearch]="'active'" [isPanel]="'btn-active'" [sectionName]="'Recetas desactivadas'"></app-table>
    </div>
  </div>
</div>
